content: none
source https://www.nuget.org/api/v2
source http://nuget.aleagpu.com/nuget
source http://beta.aleagpu.com/nuget
nuget Alea 3.0.2-beta1
nuget CSMatIO
nuget Fake
nuget Nuget.CommandLine
nuget NUnit 2.6.4
nuget NUnit.Runners.Net4
nuget SharpZipLib
nuget Templatus