<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <meta charset="utf-8">
        <title>Alea TK</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Alea TK Documentation and Samples">
        <meta name="author" content="QuantAlea">
        <style type="text/css">
            code { white-space: pre; }
            q { quotes: "“" "”" "‘" "’"; }
        </style>
        <link href="images/favicon.ico" rel="shortcut icon">

        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script type="text/javascript" src="scripts/jquery.vibrate.js"></script>
        <script type="text/javascript" src="scripts/jquery.quicksand.js"></script>
        <script type="text/javascript" src="scripts/jquery.powertip.js"></script>
        <link rel="stylesheet" type="text/css" href="scripts/jquery.powertip.css">

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="scripts/bootbox.min.js"></script>

        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

        <script type="text/javascript" src="scripts/tips.js"></script>
        <script type="text/javascript" src="scripts/scripts.js"></script>
        <script type="text/javascript" src="scripts/version_list.js"></script>

        <link rel="stylesheet" type="text/css" href="content/style.css">
        <link rel="stylesheet" type="text/css" href="content/src_highlight_tango.css">

        $if(math)$
        $endif$
        $for(header-includes)$
            $header-includes$
        $endfor$

        <script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

        <script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-84848345-3', 'auto');
		  ga('send', 'pageview');
        </script>   
    </head>

    <body>
        $for(include-before)$
            $include-before$
        $endfor$

        <div class="forkongithub" id="forkongithub">
            <a href="https://github.com/quantalea/AleaTK">Fork me on GitHub</a>
        </div>

        <div id="referenceContent" class="row">
            <div id="referenceContentInner">
                <div class="aside">
                    <div class="san_logo">
                        <a href="http://aleatk.com/">
                            <span data-picture="" data-alt="QuantAlea">
                            <span data-height="100" data-width="100" data-src="images/QuantAlea_cube_blau-grau_square_100.png"></span>
                            <span data-height="100" data-width="100" data-src="images/QuantAlea_cube_blau-grau_square_200.png" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:1.5dppx)"></span>
                            <span data-height="100" data-width="100" data-src="images/QuantAlea_cube_blau-grau_square_200.png" data-media="(max-width:100px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:1023px) and (min-resolution:144dpi)"><img alt="QuantAlea" width="100" src="images/QuantAlea_cube_blau-grau_square_200.png" height="100"></span>
                            <span data-src="images/QuantAlea_cube_blau-grau_square_100.png" data-media="(max-width:100px)"></span>
                            <span data-width="100" data-src="images/QuantAlea_cube_blau-grau_square_200.png" data-media="(max-width:100px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:100) and (min-resolution:144dpi)"></span>
                            <noscript>&amp;amp;lt;img src="images/QuantAlea_cube_blau-grau_square.png" width="100" height="100" alt="Qcom"
                                &amp;amp;gt;
                            </noscript>
                            </span>
                        </a>
                    </div>
                    <ul class="nav nav-list" id="menu">
                        <li class="nav-header">Alea TK</li>
                        <li><a href="get_started.html">Get Started</a></li>
                        <li><a href="tutorials.html">Tutorials</a></li>
                        <li><a href="how_to.html">How To</a></li>
                        <li><a href="ml_tools.html">Machine Learning Tools</a></li>                        
                        <li><a href="resources.html">Resources</a></li>
                        <li><a href="design_details.html">Design Details</a></li>
                        <li><a href="gallery.html">Sample Gallery</a></li>
                        <li class="nav-header">QuantAlea</li>
                        <li><a href="http://quantalea.com/">Web</a></li>
                        <li><a href="http://blog.quantalea.com">Blog</a></li>
                        <li><a href="http://www.aleagpu.com/release/">Alea GPU</a></li>
                        
                        <div id="version_list">Loading versions ...</div>
                        <!--<div class="dropdown">
                          <button class="dropbtn">Version</button>
                          <div class="dropdown-content">
                            <a href="http://www.aleatk.com/release/0_9_0/doc/">0.9.0</a>
                          </div>
                        </div>-->
                    </ul>
                </div>

                <div class="center" id="main">
                    $if(toc)$
                        <div id="$idprefix$TOC">
                            $toc$
                        </div>
                    $endif$
                    $body$
                </div>
            </div>
        </div>

        $for(include-after)$
            $include-after$
        $endfor$
    </body>
    <script type="text/javascript" src="https://www.draw.io/embed.js?s=arrows"></script>
</html>
